body {
    margin: 0;
}

.herosection {
    width: 100%;
    height: 800px;
    background-image: url(./images/drew-coffman-1872.jpg);
    background-position: center;
    background-size: cover;
}

.par {
    width: 100%;
    background-color: #cc6464;
    /* position: fixed; */
    vertical-align: middle;
}

.navpar {
    width: 70%;
    margin: auto;
}


.logo {
    width: 15%;
    float: left;
    padding: 16px;
}

.list {
    float: right;
    background-color: black;
vertical-align: bottom;
}

.linav {
    background-color: aqua;
    float: left;
    font-size: 24px;
    text-transform: capitalize;
    padding: 16px 32px;
    margin-left: 5px;
    border-top: 4px solid #8e7754;

}

.about,
.ouroffer,
.gallery,
.blog,
.contact {
    border-top: hidden;
}

.ulnav {
    list-style: none;
 }

.linknav {
    text-decoration-line: none;
    color: #fff;


}

.clr {
    clear: both;
}

.herosection_content {
    /* background-color: beige; */
    width: 40%;
    text-align: center;
    margin: 200px auto;
}

.we,.welcome {
    font-size: 24px;
    text-transform: lowercase;
    line-height: 150%;
    letter-spacing: 2px;
    color: #fff;
}

.welcome,.we  span {
    text-transform: capitalize;
}

.herosection h1 {
    font-size: 60px;
    text-transform: capitalize;
    color: #fff;
}

.herosection_buttons {
    margin: 40px;
}

.herosection_buttons  button {
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    border-radius: 16px;
    padding: 16px 32px;
    margin: 16px;
    color: #fff;
    letter-spacing: 2px;
}

.hsection_button1 {
    background-color: #8e7754;
    border: #8e7754 2px solid;
}
.hsection_button1:hover{
    background-color: #fff;
    border: #fff 2px solid;
    color: #1b1b1b;
}

.hsection_button2 {
    border: #fff 2px solid;
    background-color: inherit;
}
.hsection_button2:hover{
    background-color: #fff;
    color: #1b1b1b;
}

.section1{
    width: 100%;
    min-height: 700px;
    background-color: #8e7754;
}
.section1_content{
    width: 70%;
    /* min-height: 100%; */
    background-color: antiquewhite;
    margin: auto;
    vertical-align: middle;
}
.s1_left,.s1_right{
    width: 40%;
    /* height: 100%;    */
    display: inline-block;
    margin: 40px;

}
.s1_left{
    height: 100%;
    background-image: url(./images/alexandru-stavrica.jpg);
    background-size: cover;
}
.s1_right{
    background-color: aquamarine;
   
}